.jumbotron{
   height: 800px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: lightseagreen;
   text-shadow: 1px solid black;


}
.display-4{
    font-size: 6em;
}
.lead{
    font-size: 4em;
}

body{
    background-image: url("./what-the-hex-dark.png");
    color: lightgray;
   
}

.photo{
    height: 300px;
    width: 400px;
    padding: 40px;
    margin-right: 0;
}

.btn{
    background-color: lightseagreen;
}

.parallax { 
    /* The image used */
    background-image: url("https://qph.fs.quoracdn.net/main-qimg-db959dd9be4ed735989caa353f2f0c3a-c");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}